{{!--This handlebars page is just the shell of the shell of the html!  Hey that rhymes.--}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>EAT THE BURGER</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!--create my own css and update the script from somefilename.js to whatever it is--}}

</head>

<body>
    {{{ body }}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
