{{!--this page is where I can do all my serious html with handlebars and feeds the html--}}


{{!--<form action="/index" method="POST">--}}
{{!--    <ul>--}}
{{!--        {{#each burger}}--}}
{{!--            hello--}}

{{!--        {{/each}}--}}
{{!--    </ul>--}}
{{!--    <input type="" name="">--}}
{{!--    <input type="submit" value="">--}}
{{!--</form>--}}
<div class="crumbs">
    <h1 class="text-center text-danger">BEYFF</h1>
</div>
<div class="rooster">
    <img src="/assets/img/chicken.png" alt="burger">
</div>


<h2>Eat MORE BeRGER!</h2>
<form class="create-form">
    <div class="form-group">
        <label for="beef">Burger Name:</label>
        <input type="text" id="beef" name="name" img src="/assets/img/chicken2.png">
    </div>

    <button type="submit">Add BURGER</button>
</form>
