body {
    height: 720px;
    width: auto;
    background: #07bafe;
    /* For browsers that do not support gradients */
    background: radial-gradient(yellow, #07bafe);
    /* Standard syntax (must be last) */
}

img {

    width: 100px;
    height: auto;
}
